################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IndigoApi/node_modules
/IndigoApi/.vs
